@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align: center;">QUẢN LÝ SINH VIÊN</h1>
    <p class="lead">Giáo viên hướng dẫn: Đỗ Phú Huy</p>
    <p class="lead">Họ tên sinh viên: Đinh Công Minh</p>
    <p class="lead">Mã sinh viên: 21115053120334</p>
    <p class="lead">Lớp học phần: 223LTC01</p>
</div>